.container{
  display: flex;
}
#items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 10%;
  overflow-x: hidden;
  padding: 1rem 0;
  gap: 1rem;
  justify-content: flex-start;
  
}

#items .item {
  border: 1px solid black;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
#items .item img {
  width: 30vh;
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#items .item .row {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

#items .item .info {
  padding: 1rem;
}

#items .item button {
  width: 100%;
  border-radius: 30px;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  color: white;
  background-color: black;
  cursor: pointer;
  margin-top: 10%;
}
.title{
  width: 100%;
  height: 25px;
  margin-bottom: 15%;
}

#checkout{
  margin-top: 15px;
  width: 400px;
  height: 600px;
  background-color: black;
}
h4{
  text-align: center;
  color: white;
}
.info1 {
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 10px;
}
hr{
  color: white;
  
}
#rzp-button1{
  background-color: transparent;
  color: white;
  width: 100px;
  margin-left: 35%;
}


@media (min-width: 320px) and (max-width :570px) {
  .container{
    display: flex;
    flex-direction: column;
  }
   #items .item {
      width: 80%; 
      margin: 0 auto;
  }
  #checkout{
    width: 90%;
    margin: 0 auto;
    height: 50vh;
  }
  #searchInput{
    width: 100%;
  }
  .nav-items.show {
    display: block;
}
  #rzp-button1{
    width: 100%;
    margin: 15% auto;
  }
}